[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipython = "*"
torch = "*"
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
ujson = "*"
boltons = "*"
sklearn = "*"
altair = "*"
sqlalchemy = "*"
click = "*"
torchtext = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.7"
